.u-section-1 .u-sheet-1 {
  min-height: 1794px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto auto;
  margin: 59px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 1547px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 101px;
  width: 103px;
  background-image: none;
  margin: 23px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 17px 28px 0 12px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px 115px 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 101px;
  width: 103px;
  background-image: none;
  margin: 23px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 17px 28px 0 12px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px 115px 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 101px;
  width: 103px;
  background-image: none;
  margin: 23px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 17px 28px 0 12px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px 115px 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 101px;
  width: 103px;
  background-image: none;
  margin: 23px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 17px 28px 0 12px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px 115px 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-icon-5 {
  height: 101px;
  width: 103px;
  background-image: none;
  margin: 23px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 17px 28px 0 12px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px 115px 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-icon-6 {
  height: 101px;
  width: 103px;
  background-image: none;
  margin: 23px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 17px 28px 0 12px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px 115px 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-icon-7 {
  height: 101px;
  width: 103px;
  background-image: none;
  margin: 23px auto 0;
}

.u-section-1 .u-text-9 {
  margin: 17px 28px 0 12px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px 115px 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-icon-8 {
  height: 101px;
  width: 103px;
  background-image: none;
  margin: 23px auto 0;
}

.u-section-1 .u-text-10 {
  margin: 17px 28px 0 12px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px 115px 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-icon-9 {
  height: 101px;
  width: 103px;
  background-image: none;
  margin: 23px auto 0;
}

.u-section-1 .u-text-11 {
  margin: 17px 28px 0 12px;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px 115px 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-icon-10 {
  height: 101px;
  width: 103px;
  background-image: none;
  margin: 23px auto 0;
}

.u-section-1 .u-text-12 {
  margin: 17px 28px 0 12px;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px 115px 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-icon-11 {
  height: 101px;
  width: 103px;
  background-image: none;
  margin: 23px auto 0;
}

.u-section-1 .u-text-13 {
  margin: 17px 28px 0 12px;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px 115px 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px;
}

.u-section-1 .u-icon-12 {
  height: 60px;
  width: 103px;
  background-image: none;
  margin: 23px auto 0;
}

.u-section-1 .u-text-14 {
  margin: 17px 28px 0 12px;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px 115px 0 auto;
  padding: 0;
}

.u-section-1 .u-shape-1 {
  width: 250px;
  height: 196px;
  margin: -211px auto 0 71px;
}

.u-section-1 .u-shape-2 {
  width: 250px;
  height: 233px;
  margin: -233px 59px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1276px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-12 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 2199px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 787px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 20px 931px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin: -27px auto 0 276px;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  margin: 20px 737px 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  margin: 20px 759px 0 0;
}

.u-section-2 .u-image-1 {
  width: 690px;
  height: 374px;
  margin: -183px 27px 0 auto;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  margin: -171px 759px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 731px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 76px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 537px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 559px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 559px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 511px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 317px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 339px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 339px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 331px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 54px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 137px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 159px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 293px;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: -90px;
    margin-right: 159px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 131px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 184px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 19px;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1527px;
}

.u-section-3 .u-text-1 {
  margin: 136px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}.u-section-4 .u-sheet-1 {
  min-height: 763px;
}

.u-section-4 .u-gallery-1 {
  width: 689px;
  height: 405px;
  grid-gap: 10px 10px;
  margin: 29px auto 0 207px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  line-height: 2;
  margin: 0 auto 41px -5px;
}

@media (max-width: 991px) {
  .u-section-4 .u-gallery-1 {
    margin-left: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-gallery-1 {
    width: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-gallery-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 511px;
}

.u-section-5 .u-gallery-1 {
  width: 689px;
  height: 405px;
  grid-gap: 10px 10px;
  margin: 6px auto 60px;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 767px) {
  .u-section-5 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-gallery-1 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 650px;
}

.u-section-6 .u-text-1 {
  margin: 77px 0 42px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 728px;
  }
}